/* MAIN APP BACKGROUND */
.stApp {
    background-color: #0B3A67;
}

/* MAIN CONTENT AREA */
[data-testid="stAppViewContainer"] {
    background-color: #0B3A67;
}

/* HEADINGS */
h1, h2, h3, h4, h5 {
    color: white;
}

/* SIDEBAR (LIGHT BLUE) */
section[data-testid="stSidebar"] {
    background-color: #CFE8FF;
}

/* SIDEBAR TEXT */
section[data-testid="stSidebar"] label,
section[data-testid="stSidebar"] span,
section[data-testid="stSidebar"] p {
    color: #0B3A67;
    font-weight: 600;
}

/* METRIC CARDS */
[data-testid="metric-container"] {
    background-color: #f4f8ff;
    border-radius: 10px;
    padding: 15px;
    border: none;
}

/* REMOVE TABLE BORDERS */
.stDataFrame {
    background-color: white;
    border: none;
}

/* REMOVE INTERNAL DATAFRAME BORDER */
[data-testid="stDataFrame"] {
    border: none !important;
    background-color: white;
}

/* REMOVE GRIDLINES */
.stDataFrame table {
    border-collapse: collapse;
}

.stDataFrame th,
.stDataFrame td {
    border: none !important;
}

/* CHART BACKGROUND */
canvas {
    background-color: white !important;
    border-radius: 8px;
}

/* SELECTBOX */
.stSelectbox div[data-baseweb="select"] {
    background-color: white;
    border-radius: 6px;
}

/* BUTTONS */
.stButton button {
    background-color: #FFC400;
    color: black;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

.stButton button:hover {
    background-color: #e6b000;
}